img.f_undo {
    width: auto;
    border-radius: 10px;
    left: -29%;
    margin-top: 5%;
    display: block;
    top: -13%;
    position: absolute;
    left: 32%;
    width: 52%;
    overflow: hidden;
    padding: 213px 139px 1px 192px;
   
}

