
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 63%;
    margin: 0 auto;
}

.container-login {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 15px;

    background-color: rgb(229, 224, 235);


}


.Wrap-login {
    width: auto;
    background-color: #42215f;
    position: relative;
    border-radius: 10px;
    left: -29%;
    margin-top: 10%;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px rgb(0 0 0);
    flex-direction: column;
}

.login-form {
    width: 100%;
}

.login-forn-title {
    display: block;
    font-size: 30px;
    color: #42215f;


    line-height: 1.2;
    text-align: center;
}

.login-forn-title img {
    width: 50px;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-bottom: 37px;
}

.input {
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    border: none;
    display: block;

    width: 100%;
    height: 45px;

    background-color: transparent;

    padding: 0 5px;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    pointer-events: none;
    color: blueviolet;

}

/* ? */
.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    /* Propredade de compatibilidade de  outros navegadores */
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;

    background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
    background: -o-linear-gradient(to left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
    background: linear-gradient(to left, #21d4fd, #b721ff);
}


.focus-input::after {
    font-size: 15px;
    color: #ffffff;
    line-height: 1.2;

    content: attr(data-placeholder);

    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: -85px;

    padding-left: 5px;
    

    /* Propredade de compatibilidade de  outros navegadores */
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;

}


/*Tirando as bordas do input*/
.input:focus {
    outline: 0;
}

/* animação subindo para digitar (focus)*/
.input:focus+.focus-input::after {
    top: -15px;
}

.input:focus+.focus-input::before {
    width: 100%;
}

/* fixar o e-mail pra cima ( quando eu tiver conteudo no meu input quero 
que permaneça em cima )*/
.has-val+.focus-input::after {
    top: -15px;
}


.has-val+.focus-input::before {
    width: 100%;
}


/* Botton de login*/
.container-login-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
}

.login-form-btn {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;

    line-height: 1.2;

    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 50px;

    background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
    background: -o-linear-gradient(to left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
    background: linear-gradient(to left, #21d4fd, #b721ff);

}

.login-form-btn:hover {
    cursor: pointer;
}


.text-center {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;

}

.text1 {
    font-size: 14px;
    color: #ffffff;
    line-height: 1.5;
    padding-right: 5px;
    text-decoration: none;
}

.text2 {
    font-size: 14px;
    color: #6a7dfe;
    line-height: 1.5;
    text-decoration: none;
}
