*{
    margin: 0;
    padding: 0%;
}
.container {
    height: auto;
    display: flex;
}

.cor1 {
    width: 18%;
    background: #42215f;
    box-sizing: border-box;
}

.cor2 {
    width: 18%;
    background: #b83737;
    height: 20px;
    box-sizing: border-box;
}

.cor3 {
    width: 18%;
    background-color: #ffe92c ;
    height: 20px;
    box-sizing: border-box;
}

.cor4 {
    width: 18%;
    background: #0ba0ff;
    height: 20px;
    box-sizing: border-box;
}

.cor5 {
    width: 18%;
    background: #61ff0b;
    height: 20px;
    box-sizing: border-box;
}

.cor6 {
    width: 18%;
    background: #e400ff;
    height: 20px;
    box-sizing: border-box;
}

.todasimagens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    background-color: #fff;
}

.totilogo img {
    max-width: 45px;
}

.redes {
   display: flex;
}

.imagem1 {
    width: 35px;
    
}

.instagram {
    width: 35px;

}

.facebook {
    width: 35px;
   
}

.linkedin {
    width: 35px;
 
}

.textos {
    margin-bottom: 10px;
    gap: 15px;
    padding: 5px;
    display: flex;
    max-width: 100%;
    background: #42215f;
    color: white;
    font-size: 15px;
    font-weight: bold;
    align-content: flex-start;
    justify-content: space-between;
}

.textos a {
    color: #fff;
    text-decoration: none;
}

.button_login  {
    cursor: pointer;
    padding: 2px;
    border: none;
    font-weight: bold;
    color: #fff;
   background-color: rgb(250, 4, 4);
}

.button_login:hover {
    border-width: 1px;
    border: #fdf7f7;
    background-color: rgb(200, 32, 85);
}

/*add responsive media quaries*/
@media screen and (max-width: 600px) {
    .box {
        width: 40%;
        
    }
    
}