html,
body {
    font-size: 18px;
    background-color: #f5f6f7;
}
h1 {
    font-family: lato, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    margin: 40px 0;
    text-align: center;
}
.item {
 position: relative;
 height: 100%;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.parceiro1 ,
.parceiro2 ,
.parceiro3 ,
.parceiro4 ,
.parceiro5,
.parceiro6,
.parceiro7{
   
    height: auto;
    width: auto;
    max-height: 150px;
    max-width: 150px;
    border-radius: 3px;
    margin: 15px;
    filter: grayscale(100%);
}

